In [5]:
from hdfs import InsecureClient
import pandas as pd
import re

In [6]:
company='accenture'

In [7]:
file_name= company+"/"+company.upper()+"_Social_Reach_df"
hdfs_url = "http://localhost:9870/"
hdfs_user = "chiheb"
client = InsecureClient(hdfs_url, user=hdfs_user)
with client.read(file_name, encoding = 'utf-8') as reader:
  df =  pd.read_csv(reader)

In [8]:
df

,overview,website,Industry,Company_size,linkedin_Reach,facebook_Reach,Twitter_Reach,Twitter_num_tweets,Instagram_reach,Insta_num_posts
0,Accenture is a global professional services co...,http://www.accenture.com,IT Services and IT Consulting,"10,001+ employees","576,847 on LinkedInIncludes members with curre...","815,641 people",541.9K Followers,22.3K Tweets,217k,"1,294"

In [9]:
def cleantext(text):
    text = re.sub(r' people', '', text)
    text=re.sub(r'K Followers','',text)
    text=re.sub(r'K Tweets','',text)
    text=re.sub(r'k','',text)
    text=text.replace(",",".")

    return text
df['facebook_Reach']= df['facebook_Reach'].apply(cleantext)
df['Twitter_Reach']= df['Twitter_Reach'].apply(cleantext)
df['Twitter_num_tweets']= df['Twitter_num_tweets'].apply(cleantext)
df['Instagram_reach']= df['Instagram_reach'].apply(cleantext)
df['linkedin_Reach']= df['linkedin_Reach'].apply(cleantext)

df

,overview,website,Industry,Company_size,linkedin_Reach,facebook_Reach,Twitter_Reach,Twitter_num_tweets,Instagram_reach,Insta_num_posts
0,Accenture is a global professional services co...,http://www.accenture.com,IT Services and IT Consulting,"10,001+ employees",576.847 on LinedInIncludes members with curren...,815.641,541.9,22.3,217,"1,294"

In [10]:
def cleantext2(text):
    text=re.sub("[^.,0-9]", '', text)
    text=text.replace(",",".")
    

    return text
df['Company_size']= df['Company_size'].apply(cleantext2)
df['Insta_num_posts']= df['Insta_num_posts'].apply(cleantext2)

In [11]:
df['linkedin_Reach']= df['linkedin_Reach'].str.slice(0,8)

In [12]:
df

,overview,website,Industry,Company_size,linkedin_Reach,facebook_Reach,Twitter_Reach,Twitter_num_tweets,Instagram_reach,Insta_num_posts
0,Accenture is a global professional services co...,http://www.accenture.com,IT Services and IT Consulting,10.001,576.847,815.641,541.9,22.3,217,1.294

In [13]:
df = df.astype({'Company_size':'float','linkedin_Reach':'float','facebook_Reach':'float','Twitter_Reach':'float'
               ,'Twitter_num_tweets':'float','Instagram_reach':'float','Insta_num_posts':'float'})

In [14]:
result = df.dtypes

In [15]:
print(result)

overview               object
website                object
Industry               object
Company_size          float64
linkedin_Reach        float64
facebook_Reach        float64
Twitter_Reach         float64
Twitter_num_tweets    float64
Instagram_reach       float64
Insta_num_posts       float64
dtype: object

In [16]:
data =df.to_dict('records')

In [18]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Competitive"]
mycol = mydb["social_reach"]
x = mycol.insert_many(data)
print(x.inserted_ids)

[ObjectId('627b930d6696898c05758009')]

In [21]:
# import pymongo

# myclient = pymongo.MongoClient("mongodb://localhost:27017/")
# dblist = myclient.list_database_names()
# if "Competitive" in dblist:
#     exist_db =True
#     print("The database exists.")
# else:
#     mydb = myclient["Competitive"]

# collist = mydb.list_collection_names()
# if "customers" in collist:
#     exist_col =True
#     print("The collection exists.")
# else:
#     mycol = mydb["Accenture_Social_Reach"]

In [19]:
# if exist_db == True:
#     print('already exist')
# else :
#     x = mycol.insert_many(data)

In [20]:
# import pymongo
# import pandas as pd
# from pymongo import MongoClient
# client = MongoClient()
# client = MongoClient("mongodb://localhost:27017")
# db=client["pfe"]
# data=df.to_dict(orient ="records")
# db.spyfu.insert_many(data)